.trainings {
  .table {
    position: relative;
    @media (min-width: $screen-sm-min) {
      &:before {
        content: '';
        display: none;
        border-right: 2px dashed $gray-dark;
        position: absolute;
        left: 117px;
        top:-4px;
        bottom: 0;
      }
    }

    .column-description {
      font-size: 13px;
      line-height: 1.2;
      
      @media print {
        font-size: 12px;
        line-height: 1.3;
      }
    }
  }
}
