<div class="container">
  <header class="heading">
    <h1>{{ site.title }}</h1>
    <h2>{{ site.data.cv.[page.lang].title }}</h2>
  </header>
  <main>
    <section class="section experiences">
      <h3 class="section-title">
        <span class="hexagon-icon"><span class="glyphicon glyphicon-briefcase"></span></span><span>{{ site.data.cv.[page.lang].experiences.title }}</span>
      </h3>
      <table class="table table-expansed">
        <thead>
        <tr>
          <th class="column-year">{{ site.data.cv.[page.lang].experiences.columns.year }}</th>
          <th class="column-job">{{ site.data.cv.[page.lang].experiences.columns.job }}</th>
          <th class="column-description">{{ site.data.cv.[page.lang].experiences.columns.description }}</th>
          <th class="column-tech">{{ site.data.cv.[page.lang].experiences.columns.tech }}</th>
        </tr>
        </thead>
        <tbody>
        {% for experience in site.data.cv.[page.lang].experiences.items %}
        <tr>
          <td class="column-year">
            <span>{{ experience.year }}</span>
          </td>
          <td class="column-job">
            <b>{{ experience.company }}</b><br>
            <span>{{ experience.job }}</span>
          </td>
          <td class="column-description">
            <b>{{ experience.project }}</b><br>
            <span>{{ experience.description }}</span>
          </td>
          <td class="column-tech">
            <span>{{ experience.tech1 }}</span><br>
            <span>{{ experience.tech2 }}</span>
          </td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </section>
    <section class="section trainings">
      <h3 class="section-title">
        <span class="hexagon-icon"><span class="glyphicon glyphicon-education"></span></span><span>{{ site.data.cv.[page.lang].educations.title }}</span>
      </h3>
      <table class="table table-expansed">
        <thead>
        <tr>
          <th class="column-year">{{ site.data.cv.[page.lang].educations.columns.year }}</th>
          <th class="column-step">{{ site.data.cv.[page.lang].educations.columns.step }}</th>
          <th class="column-training">{{ site.data.cv.[page.lang].educations.columns.training }}</th>
          <th class="column-description">{{ site.data.cv.[page.lang].educations.columns.description }}</th>
        </tr>
        </thead>
        <tbody>
        {% for education in site.data.cv.[page.lang].educations.items %}
        <tr>
          <td class="column-year">
            <span>{{ education.year }}</span>
          </td>
          <td class="column-step">
            <span class="hexagon-step">{{ education.step }}</span>
          </td>
          <td class="column-training">
            <b>{{ education.name }}</b><br>
            <span>{{ education.location }}</span>
          </td>
          <td class="column-description">
            <span>{{ education.decription1 }}</span><br>
            <span>{{ education.decription2 }}</span>
          </td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </section>
    <section class="section skills">
      <h3 class="section-title">
        <span class="hexagon-icon"><span class="glyphicon glyphicon-ok"></span></span><span>Compétences</span>
      </h3>
      <table class="table">
        <thead>
        <tr>
          <th>Front</th>
          <th>Développement</th>
          <th>Projet</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <ul class="skill-list">
              <li class="skill-list-item">
                <b>Javascript :</b><br>
                <span>AngularJS, Sencha Touch, Jquery</span>
              </li>
              <li class="skill-list-item">
                <b>UI/UX :</b><br>
                <span>Bootstrap, Foundation, Ionic, Responsive</span>
              </li>
              <li class="skill-list-item">
                <b>Web mobile :</b><br>
                <span>Cordova, Node-webkit</span>
              </li>
            </ul>
          </td>
          <td>
            <ul class="skill-list">
              <li class="skill-list-item">
                <b>Conception :</b><br>
                <span>MVC, MVVM, Prototypage</span>
              </li>
              <li class="skill-list-item">
                <b>Versionning :</b><br>
                <span>GIT, TFS, SVN</span>
              </li>
            </ul>
          </td>
          <td>
            <ul class="skill-list">
              <li class="skill-list-item">
                <b>Travail en équipe :</b><br>
                <span>Communication, code review et partage de compétences</span>
              </li>
              <li class="skill-list-item">
                <b>Lead développeur :</b><br>
                <span>Estimation, répartition des tâches</span>
              </li>
              <li class="skill-list-item">
                <b>Autonomie avec le client :</b><br>
                <span>Communication et validation des sprints</span>
              </li>
            </ul>
          </td>
        </tr>
        </tbody>
      </table>
    </section>
  </main>
</div>