@font-face {
  font-family: 'Open Sans';
  src: local("Open sans"), url('../fonts/opensans/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'Open Sans';
  src: local("Open sans bold"), url('../fonts/opensans/OpenSans-Semibold.ttf');
  font-weight: bold;
}

h1 {
  line-height: 1;
  text-transform: uppercase;
  color: $brand-primary;
}

h3 {
  .icon-hexagon:first-child {
    margin-right: .8em;
  }
}

