.home {
  text-align: center;

  &-img {
    height: 130px;
    border: 2px solid $gray-lighter;
    border-radius: 50%;
  }

  &-nav {
    color: $link-color;

    &-item {
      padding: 0 $font-size-base/2;
    }
  }

  .wrapper {
    position: relative;
    height: 100%;
    min-height: inherit;
    text-align: center;

    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }

    .main {
      display: inline-block;
    }

    .header {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }

    .header .heading,
    .header .btn-back,
    &:after {
      display: none;
    }
  }
}