<footer class="footer">
  <div class="row">
    <div class="col-xs-12 col-sm-3 text-center">
      <a class="btn btn-lg btn-link btn-footer" href="telto:+33{{site.tel}}">
        <span class="glyphicon glyphicon-phone"></span><span>0{{site.tel}}</span>
      </a>
    </div>
    <div class="col-xs-12 col-sm-6 text-center">
      <a class="btn btn-lg btn-link btn-footer" href="mailto:{{site.email}}">
        <span class="glyphicon glyphicon-comment"></span><span>{{site.email}}</span>
      </a>
    </div>
    <div class="col-xs-12 col-sm-3 text-center">
      <a class="btn btn-lg btn-link btn-footer" href="">
        <span class="glyphicon glyphicon-map-marker"></span><span>{{site.adress.addressLocality}}</span>
      </a>
    </div>
  </div>
</footer>