---
id: ''
layout: page
class: container home
---
<img class="home-img" src="/site/assets/images/profil.jpg" alt="{{site.data.layout[page.lang].profilpicture}}">
<h1>{{ site.title }}</h1>
<h2 class="home-job">{{ site.data.layout[page.lang].job }}</h2>
<p class="home-nav">
  {% for item in site.data.layout[page.lang].nav %}{% if forloop.first != true %}<span>-</span>{% endif %}<a class="btn btn-link btn-lg home-nav-item" href="{{item.path}}">{{item.label}}</a>{% endfor %}<!--
  -->{% for item in site.links %}<span>-</span><a class="btn btn-link btn-lg home-nav-item" target="_blank" href="{{item.path}}">{{item.label}}</a>{% endfor %}
</p>
