@font-face {
  font-family: 'Open Sans';
  src: local("Open sans"), url('../fonts/opensans/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'Open Sans';
  src: local("Open sans bold"), url('../fonts/opensans/OpenSans-Semibold.ttf');
  font-weight: bold;
}
