.heading {
  //background-image: url('../images/logo.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 100%;

  text-align: center;

  h1 {
    margin-bottom: 0;
  }

  h2 {
    margin-top: 0;
  }
}

.section {
  &-title {
    margin-top: 0;

    @media (min-width: $screen-sm-min) {
      margin-bottom: 20px;
    }
    @media (max-width: $screen-sm) {
      font-size: $font-size-h4;
    }
  }
}
