body {
  background-color: white;

  @media print {
    background-color: white;
  }
}

.heading {
  //background-image: url('../images/logo.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 100%;

  text-align: center;

  h1 {
    margin-bottom: 0;
  }

  h2 {
    margin-top: 0;
  }
}

.section {
  &-title {
    @media (min-width: $screen-sm-min) {
      margin-bottom: 20px;
      margin-top: 30px;
    }
    @media (max-width: $screen-sm) {
      font-size: $font-size-h4;
    }
  }
}

.footer {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: $gray-lighter;

  .btn-link {
    color: $text-color;
    vertical-align: middle;
    text-transform: uppercase;

    > * {
      vertical-align: middle;
    }

    .glyphicon {
      color: $brand-primary;
      font-size: $font-size-h5;
      margin-right: .8em;
    }
  }
}

.hexagon-icon {
  display: inline-block;
  text-align: center;

  @media (max-width: $screen-sm) {
    @include hexagon(26px, $brand-primary);
    font-size: 12px;
  }

  @media (min-width: $screen-sm-min) {
    @include hexagon(42px, $brand-primary);
    .glyphicon {
      font-size: 22px;
    }
  }

  .glyphicon {
    color: $body-bg;
    top: 1px;

    @media print {
      color: $brand-primary;
    }
  }
}

.hexagon-step {
  @include hexagon(16px, $brand-primary);
  display: inline-block;
  top: 5px;
}
