h1 {
  text-transform: uppercase;
  font-size: $font-size-h2;
  color: $brand-primary;
}

h2 {
  font-size: $font-size-h4;
}

h3 {
  text-transform: uppercase;

  > * {
    vertical-align: middle;
  }

  .hexagon-icon {
    margin-right: .8em;
  }
}

